node_modules
dist
dist-ssr
*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# TanStack Router generated
src/routeTree.gen.ts

# MSW
public/mockServiceWorker.js
